In [1]:
import pandas as pd

df_meter = pd.read_csv('EV_train.csv')
df_label = pd.read_csv('EV_train_labels.csv')
df_test = pd.read_csv('EV_test.csv')
df_sub = pd.read_csv('sample_submission.csv')

/Anaconda/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df_meter.head()

,House ID,Interval_1,Interval_2,Interval_3,Interval_4,Interval_5,Interval_6,Interval_7,Interval_8,Interval_9,...,Interval_2871,Interval_2872,Interval_2873,Interval_2874,Interval_2875,Interval_2876,Interval_2877,Interval_2878,Interval_2879,Interval_2880
0,11655099,0.950,0.826,0.361,0.238,0.342,0.233000,0.351000,0.194000,0.292000,...,0.664,0.783,0.601,0.639,0.417,0.439,0.226,0.190,0.710,0.728
1,11633257,0.353,0.327,0.358,0.292,0.285,0.304000,0.361000,0.342000,0.355000,...,0.536,0.558,0.622,0.634,0.513,0.421,0.273,0.296,0.291,0.289
2,11651552,0.150,0.181,0.150,0.150,0.131,0.125000,0.088000,0.106000,0.094000,...,2.125,0.881,0.481,1.194,0.138,0.119,0.038,0.088,0.056,0.113
3,11636092,2.088,2.075,2.121,2.098,2.046,2.081000,1.847000,0.420000,0.399000,...,0.620,0.487,0.563,0.419,0.379,0.359,0.347,0.325,0.330,0.340
4,11647239,1.416,1.250,1.270,1.258,1.239,1.753105,4.609256,4.619256,4.075151,...,1.596,1.667,1.569,1.664,1.580,1.635,1.568,1.565,1.575,1.571

In [3]:
df_meter.set_index('House ID', inplace=True)
df_label.set_index('House ID', inplace=True)

In [4]:
df_meter.head()

,Interval_1,Interval_2,Interval_3,Interval_4,Interval_5,Interval_6,Interval_7,Interval_8,Interval_9,Interval_10,...,Interval_2871,Interval_2872,Interval_2873,Interval_2874,Interval_2875,Interval_2876,Interval_2877,Interval_2878,Interval_2879,Interval_2880
House ID,,,,,,,,,,,,,,,,,,,,,
11655099,0.950,0.826,0.361,0.238,0.342,0.233000,0.351000,0.194000,0.292000,0.234,...,0.664,0.783,0.601,0.639,0.417,0.439,0.226,0.190,0.710,0.728
11633257,0.353,0.327,0.358,0.292,0.285,0.304000,0.361000,0.342000,0.355000,0.348,...,0.536,0.558,0.622,0.634,0.513,0.421,0.273,0.296,0.291,0.289
11651552,0.150,0.181,0.150,0.150,0.131,0.125000,0.088000,0.106000,0.094000,1.019,...,2.125,0.881,0.481,1.194,0.138,0.119,0.038,0.088,0.056,0.113
11636092,2.088,2.075,2.121,2.098,2.046,2.081000,1.847000,0.420000,0.399000,0.364,...,0.620,0.487,0.563,0.419,0.379,0.359,0.347,0.325,0.330,0.340
11647239,1.416,1.250,1.270,1.258,1.239,1.753105,4.609256,4.619256,4.075151,1.230,...,1.596,1.667,1.569,1.664,1.580,1.635,1.568,1.565,1.575,1.571

In [5]:
list1 = df_meter[pd.isnull(df_meter).any(axis=1)].index.tolist()

In [6]:
df_meter = df_meter.drop(index=list1)

In [7]:
df_label = df_label.drop(index=list1)

In [8]:
df_meter.shape, df_label.shape

((1586, 2880), (1586, 2880))

In [9]:
a = df_meter.columns == df_label.columns
a.all()

True

In [10]:
ev_label = pd.DataFrame(data = df_label.max(axis=1), index = df_label.index)

In [11]:
ev_label.columns = ['label']

In [12]:
df_train = df_meter.mean(axis=1).rename('Avg_pwr').to_frame()

In [13]:
df_train['Med_pwr'] = df_meter.median(axis=1)
df_train['Ran_pwr'] = df_meter.max(axis=1)-df_meter.min(axis=1)
df_train['Std_pwr'] = df_meter.std(axis=1)
df_train['IQR_pwr'] = df_meter.quantile(q=0.75,axis=1)-df_meter.quantile(q=0.25,axis=1)
df_train['Nrange_pwr'] = df_train['Ran_pwr']/df_train['Avg_pwr']
df_train['NIQR_pwr'] = df_train['IQR_pwr'] / df_train['Avg_pwr']

In [14]:
df_train.head()

           Avg_pwr  Med_pwr   Ran_pwr   Std_pwr  IQR_pwr  Nrange_pwr  NIQR_pwr
House ID
11655099  0.569631   0.4450  2.010000  0.366291  0.44600    3.528601  0.782963
11633257  0.667629   0.4650  3.710000  0.489821  0.60425    5.556980  0.905069
11651552  0.659690   0.3560  4.763000  0.736209  0.86200    7.220055  1.306674
11636092  1.397184   1.0365  3.883000  0.864061  1.36050    2.779161  0.973744
11647239  1.423121   1.2510  6.228877  0.547277  0.22950    4.376912  0.161265

In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

/Anaconda/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Anaconda/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Anaconda/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Anaconda/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [16]:
# class weight set to balanced due to unbalanced data

pipe = Pipeline(steps=[('scaler',StandardScaler()),
                      ('clf',svm.SVC(kernel='poly', degree=3,class_weight='balanced'))])

In [17]:
# Scoring was set to compute precision, recall and f1. The model refit was set on f1 score.

param_grid = {'clf__C':[1,10,100,1000],
             'clf__coef0':[0,0.1,1,2],
             }
scoring = {'prc':'precision','rc':'recall','f1':'f1'}

gs = GridSearchCV(estimator = pipe,
                 param_grid=param_grid,
                 scoring=scoring,
                 refit='f1',
                 cv=3)

In [18]:
gs.fit(df_train, ev_label.label)

GridSearchCV(cv=3, error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('clf', SVC(C=1.0, cache_size=200, class_weight='balanced', coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='poly',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False))]),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'clf__C': [1, 10, 100, 1000], 'clf__coef0': [0, 0.1, 1, 2]},
       pre_dispatch='2*n_jobs', refit='f1', return_train_score='warn',
       scoring={'prc': 'precision', 'rc': 'recall', 'f1': 'f1'}, verbose=0)

In [19]:
#best hyper parameters 

gs.best_params_

{'clf__C': 1, 'clf__coef0': 1}

In [20]:
#best f1 score

gs.best_score_

0.7168609280121221

In [21]:
f1_list = gs.cv_results_['mean_test_f1']
rc_list = gs.cv_results_['mean_test_rc']
prc_list = gs.cv_results_['mean_test_prc']
result_data=list(zip(f1_list,rc_list,prc_list))
result_frame = pd.DataFrame(result_data, columns=['F1','Recall','Precision'])

In [22]:
result_frame

          F1    Recall  Precision
0   0.571427  0.485446   0.699254
1   0.691324  0.702458   0.680945
2   0.716861  0.809864   0.643129
3   0.714877  0.807796   0.641438
4   0.635708  0.592861   0.692054
5   0.706483  0.807796   0.628064
6   0.713674  0.797472   0.646454
7   0.710509  0.793336   0.644164
8   0.647845  0.601172   0.703798
9   0.706410  0.789216   0.639964
10  0.705940  0.785085   0.642235
11  0.706979  0.789216   0.641391
12  0.641057  0.594984   0.695536
13  0.696436  0.774746   0.633573
14  0.700833  0.778882   0.638071
15  0.701315  0.780945   0.637447

In [23]:
list2 = df_test[pd.isnull(df_test).any(axis=1)].index.tolist()

In [24]:
df_test = df_test.drop(index=list2)

In [25]:
df_test.set_index('House ID', inplace=True)

In [26]:
df_test_feat = df_test.mean(axis=1).rename('Avg_pwr').to_frame()
df_test_feat['Med_pwr'] = df_test.median(axis=1)
df_test_feat['Ran_pwr'] = df_test.max(axis=1)-df_test.min(axis=1)
df_test_feat['Std_pwr'] = df_test.std(axis=1)
df_test_feat['IQR_pwr'] = df_test.quantile(q=0.75,axis=1)-df_test.quantile(q=0.25,axis=1)
df_test_feat['Nrange_pwr'] = df_test_feat['Ran_pwr']/df_test_feat['Avg_pwr']
df_test_feat['NIQR_pwr'] = df_test_feat['IQR_pwr'] / df_test_feat['Avg_pwr']

In [27]:
df_test_feat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 697 entries, 11643173 to 11643369
Data columns (total 7 columns):
Avg_pwr       697 non-null float64
Med_pwr       697 non-null float64
Ran_pwr       697 non-null float64
Std_pwr       697 non-null float64
IQR_pwr       697 non-null float64
Nrange_pwr    697 non-null float64
NIQR_pwr      697 non-null float64
dtypes: float64(7)
memory usage: 43.6 KB

In [28]:
df_test_feat['pred_label'] = gs.predict(df_test_feat)

In [29]:
# predicted Houses with EV
Ev_houses = df_test_feat[df_test_feat['pred_label'] == 1].index

In [30]:
df_EV_house = df_test.filter(items=Ev_houses.tolist(), axis=0)

In [31]:
df_EV_house.shape

(269, 2880)

In [32]:
df_EV_house.to_csv('EV_house')